# Large training datasets
training_dataset/

# Keep test images in repo (only 27MB)
!test_images_sampled/
!test_images_sampled/*.jpg


# Checkpoints & cached embeddings
checkpoints/*.pt
data/faiss_index.bin
data/raster_cache/
*.bin

# Submissions output
submissions/*.csv

# Python cache & logs
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.log
